# <font color="blue"> MBA em Ciência de Dados</font>
# <font color="blue"> Programação para Ciência de Dados</font>

## <font color="blue">Exercícios Pandas Parte III</font>
**Material Produzido por Luis Gustavo Nonato**<br>
**Cemeai - ICMC/USP São Carlos**

#### <span style="color:red">Recomenda-se fortemente que os exercícios sejam feitos sem consultar as respostas antecipadamente.</span>

Parte dos exercícios a seguir farão uso do arquivo <font style="font-family: monaco">sales.csv</font> disponível para download no moodle.

O arquivo <font style="font-family: monaco">sales.csv</font> possui informações relativas à venda de produtos. As colunas abaixo são de particular importância para solução dos exercícios:
- *Country*: país da venda
- *Item Type*: tipo do produto vendido
- *Units Sold*: quantidade vendida
- *Unit Price*: preço de venda
- *Unit Cost*: preço de custo
- *Total Profit*: lucro

In [3]:
# importando o 'pandas' e 'numpy'
import pandas as pd
import numpy as np

In [4]:
# carregando o arquivo 'sales.csv'
df = pd.read_csv('sales.csv')
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50

### Exercício 1)
Agrupe os dados da base <font style="font-family: monaco">sales.csv</font> de acordo com os países. Imprima as colunas 'Item Type' and 'Total Profit' dos grupos gerados.

In [15]:
df_by_country = df.groupby('Country')
for groupname,group in df_by_country:
    print(5*'-','\n Country: ',groupname)
    print(group[['Item Type', 'Total Profit']],'\n')

-----
 Country:  Albania
   Item Type  Total Profit
50   Clothes     166635.36

-----
 Country:  Angola
   Item Type  Total Profit
6  Household     693911.51

-----
 Country:  Australia
          Item Type  Total Profit
32  Office Supplies     369155.00
60           Cereal      60418.38
91        Beverages     147031.74

-----
 Country:  Austria
    Item Type  Total Profit
57  Cosmetics     495007.89

-----
 Country:  Azerbaijan
          Item Type  Total Profit
41        Cosmetics    1257775.58
92  Office Supplies     255151.25

-----
 Country:  Bangladesh
   Item Type  Total Profit
12   Clothes     606834.72

-----
 Country:  Belize
   Item Type  Total Profit
67   Clothes     403773.12

-----
 Country:  Brunei
          Item Type  Total Profit
38  Office Supplies      846885.0

-----
 Country:  Bulgaria
          Item Type  Total Profit
15          Clothes     122865.12
39  Office Supplies     503358.75

-----
 Country:  Burkina Faso
    Item Type  Total Profit
7  Vegetables     510216.66

-----
 Country:  Cameroon
          Item Type  Total Profit
17        Beverages       85033.8
62  Office Supplies      696647.5

-----
 Country:  Cape Verde
   Item Type  Total Profit
11   Clothes     306097.92

-----
 Country:  Comoros
   Item Type  Total Profit
45    Cereal      85223.58

-----
 Country:  Costa Rica
        Item Type  Total Profit
35  Personal Care     160609.54

-----
 Country:  Cote d'Ivoire
   Item Type  Total Profit
55   Clothes     255718.08

-----
 Country:  Democratic Republic of the Congo
    Item Type  Total Profit
72  Beverages      89904.06

-----
 Country:  Djibouti
    Item Type  Total Profit
34     Snacks     404010.78
59  Cosmetics    1254472.05
73     Cereal     766835.04

-----
 Country:  East Timor
   Item Type  Total Profit
19      Meat      337937.6

-----
 Country:  Federated States of Micronesia
    Item Type  Total Profit
76  Beverages     146875.14

-----
 Country:  Fiji
   Item Type  Total Profit
56   Clothes      727423.2

-----
 Country:  France
    Item Type  Total Profit
25  Cosmetics     315574.05

-----
 Country:  Gabon
        Item Type  Total Profit
66  Personal Care     216919.36

-----
 Country:  Grenada
  Item Type  Total Profit
1    Cereal     248406.36

-----
 Country:  Haiti
    Item Type  Total Profit
64  Cosmetics     296448.35

-----
 Country:  Honduras
    Item Type  Total Profit
13  Household    1487261.02
22     Snacks     122686.50

-----
 Country:  Iceland
    Item Type  Total Profit
46  Cosmetics    1541705.29

-----
 Country:  Iran
    Item Type  Total Profit
82  Cosmetics    1128242.43

-----
 Country:  Kenya
     Item Type  Total Profit
84  Vegetables     407630.41

-----
 Country:  Kiribati
   Item Type  Total Profit
26    Fruits      13009.18

-----
 Country:  Kuwait
   Item Type  Total Profit
88    Fruits       1258.02

-----
 Country:  Kyrgyzstan
     Item Type  Total Profit
10  Vegetables       7828.12

-----
 Country:  Laos
     Item Type  Total Profit
77  Vegetables     235601.16

-----
 Country:  Lebanon
   Item Type  Total Profit
81   Clothes     579000.96

-----
 Country:  Lesotho
   Item Type  Total Profit
51    Fruits      23150.46

-----
 Country:  Libya
   Item Type  Total Profit
63   Clothes     449159.04
71    Fruits       1621.93

-----
 Country:  Lithuania
          Item Type  Total Profit
68  Office Supplies    1046233.75

-----
 Country:  Macedonia
   Item Type  Total Profit
48   Clothes     575916.48

-----
 Country:  Madagascar
   Item Type  Total Profit
69   Clothes     539196.48

-----
 Country:  Malaysia
   Item Type  Total Profit
96    Fruits      15103.47

-----
 Country:  Mali
   Item Type  Total Profit
27    Fruits      14031.02
95   Clothes      65214.72

-----
 Country:  Mauritania
          Item Type  Total Profit
49  Office Supplies      159832.5

-----
 Country:  Mexico
        Item Type  Total Profit
75      Household    1152486.42
85  Personal Care     160935.32
98  Personal Care     144521.02

-----
 Country:  Moldova
        Item Type  Total Profit
24  Personal Care      127054.2

-----
 Country:  Monaco
    Item Type  Total Profit
78  Baby Food     825738.04

-----
 Country:  Mongolia
        Item Type  Total Profit
14  Personal Care     122819.06

-----
 Country:  Mozambique
    Item Type  Total Profit
99  Household     889472.91

-----
 Country:  Myanmar
    Item Type  Total Profit
33  Household     1367272.5
44    Clothes      435499.2

-----
 Country:  New Zealand
   Item Type  Total Profit
23    Fruits       5270.67

-----
 Country:  Nicaragua
    Item Type  Total Profit
94  Beverages     127722.96

-----
 Country:  Niger
        Item Type  Total Profit
40  Personal Care       75555.9

-----
 Country:  Norway
    Item Type  Total Profit
20  Baby Food     714157.00
28  Beverages      80241.84

-----
 Country:  Pakistan
    Item Type  Total Profit
74  Cosmetics    1719922.04

-----
 Country:  Portugal
    Item Type  Total Profit
21  Baby Food     122029.78

-----
 Country:  Republic of the Congo
       Item Type  Total Profit
8  Personal Care      152114.2

-----
 Country:  Romania
    Item Type  Total Profit
93  Cosmetics     1375311.7

-----
 Country:  Russia
         Item Type  Total Profit
2  Office Supplies     224598.75

-----
 Country:  Rwanda
          Item Type  Total Profit
4   Office Supplies     639077.50
65        Cosmetics     778415.99

-----
 Country:  Samoa
    Item Type  Total Profit
79  Cosmetics    1678540.98

-----
 Country:  San Marino
    Item Type  Total Profit
61  Baby Food      455335.0

-----
 Country:  Sao Tome and Principe
    Item Type  Total Profit
3      Fruits      19525.82
54     Fruits      18405.17
86  Beverages     138262.14

-----
 Country:  Saudi Arabia
   Item Type  Total Profit
52    Cereal     359941.17

-----
 Country:  Senegal
  Item Type  Total Profit
9    Cereal     584073.87

-----
 Country:  Sierra Leone
          Item Type  Total Profit
53  Office Supplies     436446.25
90  Office Supplies     119685.00
97       Vegetables      93748.05

-----
 Country:  Slovakia
     Item Type  Total Profit
43  Vegetables      10795.23

-----
 Country:  Slovenia
    Item Type  Total Profit
89  Beverages       72975.6

-----
 Country:  Solomon Islands
   Item Type  Total Profit
5  Baby Food     285087.64

-----
 Country:  South Sudan
        Item Type  Total Profit
31  Personal Care       53252.5

-----
 Country:  Spain
    Item Type  Total Profit
80  Household     747939.49

-----
 Country:  Sri Lanka
    Item Type  Total Profit
16  Cosmetics    1208744.24

-----
 Country:  Switzerland
        Item Type  Total Profit
30      Cosmetics    1505888.07
47  Personal Care       6841.38

-----
 Country:  Syria
   Item Type  Total Profit
36    Fruits       9119.44

-----
 Country:  The Gambia
    Item Type  Total Profit
29  Household     392780.10
37       Meat     272672.40
42     Cereal     187545.03
87  Baby Food     532885.74

-----
 Country:  Turkmenistan
          Item Type  Total Profit
18        Household      634745.9
70  Office Supplies      632512.5

-----
 Country:  Tuvalu
   Item Type  Total Profit
0  Baby Food      951410.5

-----
 Country:  United Kingdom
    Item Type  Total Profit
58  Household      46735.86

-----
 Country:  Zambia
   Item Type  Total Profit
83    Snacks      225246.9

### Exercício 2)
Encontre quantos tipos distintos de produtos o 'México' e a 'Austria' vendem.

In [25]:
mexico = df_by_country.get_group('Mexico')
austria = df_by_country.get_group('Austria')
print('\nMexico: ',len(mexico['Item Type'].unique()),' produtos diferentes')
print('\Austria: ',len(austria['Item Type'].unique()),' produtos diferentes')

Mexico:  2  produtos diferentes
\Austria:  1  produtos diferentes

### Exercício 3)
Qual o país com o maior número de produtos distintos?

In [37]:
unique_product_count_by_country = df_by_country['Item Type'].nunique()
max_unique_country = unique_product_count_by_country.idxmax()
print(f'The country with the max number of unique product is "{max_unique_country}" with {unique_product_count_by_country[max_unique_country]} products')

The country with the max number of unique product is "The Gambia" with 4 products

### Exercício 4)
Utilizando <font color='blue'>groupby</font>, construa um DataFrame onde:
- os rótulos das linhas correspondem a cada tipo de produto vendido
- possua uma coluna contendo a quantidade total de vendas de cada produto
- possua uma coluna contendo o lucro total de cada produto

In [39]:
# a solução deste exercício é uma aplicação direta de grouby com agregação
df_by_type = df.groupby('Item Type').agg(Total_Units_Sold=("Units Sold", "sum"),
                              Total_Profit=("Total Profit", "sum"))
print(df_by_type)

                 Total_Units_Sold  Total_Profit
Item Type
Baby Food                   40545    3886643.70
Beverages                   56708     888047.28
Cereal                      25877    2292443.43
Clothes                     71260    5233334.40
Cosmetics                   83718   14556048.66
Fruits                      49998     120495.18
Household                   44727    7412605.71
Meat                        10675     610610.00
Office Supplies             46967    5929583.75
Personal Care               48708    1220622.48
Snacks                      13637     751944.18
Vegetables                  20051    1265819.63

### Exercício 5)
Utilizando <font color='blue'>groupby</font>, construa um DataFrame contendo:
- uma coluna com o nome dos países contidos na base de dados, sendo que cada país aparece somente uma vez 
- uma coluna com o total de unidades vendas no país correspondente

In [41]:
# Para agrupar e fazer com que o nome dos grupos se tornem uma coluna 
# e não rótulos para as linhas, deve-se utilizar o método reset_index()'
reset_df_by_country = df_by_country['Units Sold'].sum().reset_index()
print(reset_df_by_country)

           Country  Units Sold
0          Albania        2269
1           Angola        4187
2        Australia       12995
3          Austria        2847
4       Azerbaijan        9255
..             ...         ...
71      The Gambia       14813
72    Turkmenistan        8840
73          Tuvalu        9925
74  United Kingdom         282
75          Zambia        4085

[76 rows x 2 columns]

### Exercício 6)
Construa um DataFrame com as seguintes características:
- Possua uma coluna contendo cada tipo de produto (cada produto aparece apenas uma vez)
- Para cada produto, incluir seu lucro médio em uma nova coluna, ou seja, para cada produto deve-se calcular a diferença entre o valor de venda e o valor de custo do produto e calcular a média destas diferenças.

**Dica**: Adicione uma nova coluna no DataFrame original com as diferenças e depois construa o novo DataFrame

In [45]:
df['Profit'] = df['Unit Price'] - df['Unit Cost']
df_by_product = df.groupby('Item Type').agg(Avg_Profit=('Profit', 'mean')).reset_index()
print(df_by_product)

          Item Type  Avg_Profit
0         Baby Food       95.86
1         Beverages       15.66
2            Cereal       88.59
3           Clothes       73.44
4         Cosmetics      173.87
5            Fruits        2.41
6         Household      165.73
7              Meat       57.20
8   Office Supplies      126.25
9     Personal Care       25.06
10           Snacks       55.14
11       Vegetables       63.13

### Exercício 7) 
Utilizando o método <font color='blue'>transfom</font> do <font color='blue'>groupby</font> construa uma Serie com o mesmo número de linhas do conjunto de dados <font style="font-family: monaco">sales.csv</font>, onde os valores correspondem ao índice da linha onde o produto mais vendido de cada país ocorre.

Por exemplo: O país 'Australia' vende três tipos de produtos, 
'Office Supplies', 'Cereal', and 'Beverages'. A busca 
```python
df[['Country','Item Type','Units Sold']].loc[df['Country']=='Australia'])
```
resulta em:
```python
      Country        Item Type  Units Sold
32  Australia  Office Supplies        2924
60  Australia           Cereal         682
91  Australia        Beverages        9389
```
Assim, o produto mais vendido da 'Australia' é 'Beverages' e esta informação ocorre na linha de índice 91 do DataFrame original. Desta forma, a Serie gerada deve possuir nas linhas de índice 32, 60 e 91 o valor 91.

**Dica**: Agrupe pela coluna 'Country' e aplique o método <font color='blue'>transfom</font> somente na coluna 'Units Sold'. O método <font color='blue'>idxmax()</font>  do <font color='blue'>pandas</font>  retorna o índice da linha onde o máximo valor de uma Serie ocorre.

In [53]:
df_max_unit = df_by_country['Units Sold'].transform(lambda x: x.idxmax())
print(df_max_unit[[32, 60, 91]])

32    91
60    91
91    91
Name: Units Sold, dtype: int64

### Exercício 8) 
Construa um DataFrame com uma coluna chamada 'Pais', contendo os nomes de todos os países do DataFrame original (sem repetição). O DataFrame deve ser indexado com valores interios entre 0 e $n-1$, onde $n$ é o número de paises. Quantos países existem na base de dados?

**Dica**: Para obter o rótulo (nome) de um grupo dentro do método <font color='blue'>apply</font> pode-se utilizar o atributo <font color='blue'>.name</font>, ou seja,
```python
df.groupby(<dados agrupamento>).apply(lambda x. x.name)
```
retorna o rótulo de cada grupo gerado pelo <font color='blue'>groupby</font>

In [57]:
countries = df_by_country.apply(lambda x: x.name).reset_index().drop(0, axis=1)
print('Countries table:\n', countries)
print(f'The number of countries is {len(countries)}')

Countries table:
            Country
0          Albania
1           Angola
2        Australia
3          Austria
4       Azerbaijan
..             ...
71      The Gambia
72    Turkmenistan
73          Tuvalu
74  United Kingdom
75          Zambia

[76 rows x 1 columns]
The number of countries is 76

### Exercício 9) 
Construa um DataFrame contendo:
- uma coluna com os nomes dos países (cada país aparece apenas uma vez)
- uma coluna com o nome do produto mais vendido no país, ou seja, cada linha contém o nome do país e o produto mais vendido daquele país.

**Dica**: Agrupe a Serie criada no exercício 7) de acordo com os países,
gerando uma nova Serie com o número de linhas equivalente ao número de países. Utilize a Serie gerada para buscar, no DataFrame original, o nome do produto mais vendido.

In [72]:
df_max_unit = df_by_country['Units Sold'].transform(lambda x: x.idxmax())
countries_and_msp = pd.DataFrame(df.groupby('Country').apply(lambda x: x.name).values, columns=['Country'])
most_sold_item_index = df_max_unit.groupby(df['Country'].values).apply(lambda x:x.iloc[0]).values
countries_and_msp['MSP'] = df['Item Type'].iloc[most_sold_item_index].values
print(countries_and_msp)

           Country              MSP
0          Albania          Clothes
1           Angola        Household
2        Australia        Beverages
3          Austria        Cosmetics
4       Azerbaijan        Cosmetics
..             ...              ...
71      The Gambia        Baby Food
72    Turkmenistan  Office Supplies
73          Tuvalu        Baby Food
74  United Kingdom        Household
75          Zambia           Snacks

[76 rows x 2 columns]

### Exercício 10) 
O método <font color='blue'>groupby</font> combinado com a transformação <font color='blue'>apply</font> podem ser utilizados para preencher dados faltantes com valores específicos em cada grupo. O DataFrame gerado no código abaixo possui dados faltantes (`NaN`) em várias posições. 
1. Divida os elementos do DataFrame em dois grupos, o grupo das linha pares e o grupo das linhas ímpares.
2. Preencha os dados faltantes do grupo das linhas pares com o valor médio dos valores no grupo 
3. Preencha os dados faltantes do grupo das linhas ímpares com o valor médio dos valores no grupo

In [ ]:
# construindo um DataFrame com valores faltantes
dataf = np.random.randint(low=0, high=10, size=(10,5)).astype(float)
rid = np.random.randint(low=0, high=10, size=5)
cid = np.random.randint(low=0, high=5, size=5)
dataf[rid,cid] = np.nan

clabels=['c1','c2','c3','c4','c5']
df = pd.DataFrame(data=dataf,columns=clabels)

print(df)

In [ ]:
# escreva o codigo aqui

dfgrouped = df.groupby(lambda x: x%2==0).apply(lambda i: i.fillna(i.mean()))
print(dfgrouped)