# <font color="blue"> MBA em Ciência de Dados</font>
# <font color="blue">Programação para Ciência de Dados</font>

## <font color="blue">Pandas Parte II - Avaliação</font>
**Material Produzido por Luis Gustavo Nonato**<br>
**Cemeai - ICMC/USP São Carlos**
---

Os exercícios a seguir farão uso dos arquivos <font style="font-family: monaco">ESC2013\_RMSP\_CEM.csv</font> e <font style="font-family: monaco">ENEM2015.csv</font> disponíveis para download no sistema _Moodle_.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Os comandos abaixo são apenas para modificar como as informações serão apresentadas
# no notebook

# mostra no máximo 50 colunas
pd.set_option('display.max_columns', 50)

# aumenta o tamanho das figuras geradas pelo matplotlib
plt.rcParams['figure.figsize'] = (10.0, 8.0)

### Exercício 1)
Carregue os arquivos <font style="font-family: monaco">ESC2013\_RMSP\_CEM.csv</font> e <font style="font-family: monaco">ENEM2015.csv</font>, armazenando-os em variáveis tipo DataFrame chamadas `escolas` e `enem` respectivamente. 
Os arquivos <font style="font-family: monaco">ESC2013_RMSP_CEM.csv</font> e <font style="font-family: monaco">ENEM2015.csv</font> possuem em comum o código das escolas, os quais estão armazenados nas colunas CODESC e CODIGO DA ENTIDADE, respectivamente.

Quantas escolas cujo código aparece no arquivo <font style="font-family: monaco">ENEM2015.csv</font> tambem aparecem em <font style="font-family: monaco">ESC2013_RMSP_CEM.csv</font>?

a) 1243 escolas<br>
b) 1043 escolas <br>
c) 10243 escolas <br>
d) 1003 escolas

**Dica**: Utilize o método <font color='blue'>isin</font> do <font color='blue'>pandas</font>.

In [7]:
escolas = pd.read_csv('ESC2013_RMSP_CEM.csv')
enem = pd.read_csv('ENEM2015.csv')

escolas_enem = pd.merge(escolas,enem, how='inner', left_on='CODESC', right_on='CODIGO DA ENTIDADE')

print(len(escolas_enem))

1243

### Exercício 2)

Verifique quantos valores faltantes existem em cada um dos DataFrames:

a) `escolas`: 776346 valores faltantes; `enem`: 0 valores faltantes <br>
b) `escolas`: 776346 valores faltantes; `enem`: 1 valor faltante <br>
c) `escolas`: 7346 valores faltantes; `enem`: 103 valores faltantes <br>
d) `escolas`: 7346 valores faltantes; `enem`: 10 valores faltantes

In [9]:
print(f'Missing values in escola={escolas.isna().sum(axis=1).sum()}')
print(f'Missing values in enem={enem.isna().sum(axis=1).sum()}')

Missing values in escola=776346
Missing values in enem=1

### Exercício 3)
No DataFrame `escolas`, qual o rótulo da coluna com o maior número de valores faltantes.

a) LP05_AF<br>
b) MAT05_AF <br>
c) IDEB05AF <br>
d) COD_SC

__Dica__: Utilize uma combinação dos comandos <font color='blue'>isna</font>, <font color='blue'>sum</font> e <font color='blue'>idxmax</font> do <font color='blue'>pandas</font>

In [10]:
max_per_column = escolas.isna().sum(axis=0)
print(f"The column '{max_per_column.idxmax()}' has {max_per_column[max_per_column.idxmax()]} NaN values")

The column 'COD_SC' has 10937 NaN values

### Exercício 4)

O DataFrame `enem` possui valores faltantes na coluna 'Classificacao'. Preencha os valores faltantes com o valor da 'moda' da coluna. Qual o valor da moda utilizado para preencher os valores faltantes?

a) 1<br>
b) 2<br>
c) 3<br>
d) 4

In [12]:
modes_per_column = enem.mode(axis=0, dropna=True).iloc[0]
print(f"The mode for column 'Classificao'={modes_per_column['Classificacao']}")

The mode for column 'Classificao'=2.0

### Exercício 5)
Os arquivos <font style="font-family: monaco">ESC2013\_RMSP\_CEM.csv</font> e <font style="font-family: monaco">ENEM2015.csv</font> possuem em comum o código das escolas, os quais estão armazenados nas colunas _CODESC_ e _CODIGO DA ENTIDADE_, respectivamente.

Busque na coluna 'NUMERO DE PARTICIPANTES' do DataFrame `enem` o código das escolas com o menor número de participantes no ENEM. Utilizando o código obtido, imprima os nomes de tais escolas (armazenado na coluna 'NOMEESC' do DataFrame `escolas`). Uma das escolas com o menor número de participantes é:

a) TEOTONIO ALVES PEREIRA<br>
b) THAMARA CORREA DE MATOS<br>
c) BRASILIO FLORES DE AZEVEDO<br>
d) OSWALDO SAMMARTINO

In [25]:
min_part = (escolas_enem['NUMERO DE PARTICIPANTES']).min()
escolas_min = escolas_enem[escolas_enem['NUMERO DE PARTICIPANTES'] == min_part]['NOMEESC']
print("TEOTONIO ALVES PEREIRA in escolas_min?", 'TEOTONIO ALVES PEREIRA' in escolas_min.values)

71                             SHANGRI LA COLEGIO
72                             SANTA RITA COLEGIO
237                           RUI BARBOSA COLEGIO
296            PRESTES MAIA INSTITUTO EDUCACIONAL
322                         COSTA ZAVAGLI COLEGIO
329                              FUTURO ESCOLA DO
342                               CRIACAO COLEGIO
489                              ADVENTUS COLEGIO
500          ALEXANDRE DUMAS COMPLEXO EDUCACIONAL
534                               ARCADIA COLEGIO
571                              HARMONIA COLEGIO
661     DOM BOSCO SANTO ANDRE UNIDADE III COLEGIO
675                                VIVARE COLEGIO
724                     EUCLYDES DA CUNHA COLEGIO
728                           JEAN PIAGET COLEGIO
746                        ASSUNCAO COLEGIO EIEFM
782                              POLIEDRO COLEGIO
792                        TEOTONIO ALVES PEREIRA
795                        PAULO DE TARSO COLEGIO
820                            CENTENARIO COLEGIO
878                            MARCO ZERO COLEGIO
927      NOSSA SENHORA DO SAGRADO CORACAO COLEGIO
934                     CALIFORNIA JUNIOR COLEGIO
939                                BRASIL COLEGIO
1005                  GUARULHOS COLEGIO INTEGRADO
1053                        AUGUSTO SILVA COLEGIO
1102           MANOEL MARCONDES GALVAO UNIDADE II
1117                               FUTURA COLEGIO
1164                ANDRADE INSTITUTO EDUCACIONAL
1167                COOPERATIVISTA DE POA COLEGIO
Name: NOMEESC, dtype: object
TEOTONIO ALVES PEREIRA True