# MBA em Ciência de Dados
## Técnicas Avançadas de Captura e Tratamento de Dados


### <span style="color:darkred">Módulo III - Aquisição e Transformação de Dados</span>


## <span style="color:darkred">Avaliação</span>

Moacir Antonelli Ponti

CeMEAI - ICMC/USP São Carlos

---
#### <font color='red'> As respostas devem ser fornecidas no Moodle. O notebook é apenas para a implementação dos códigos que fornecerão as respostas</font>

---

Antes de iniciar, acesse o portal : https://dados.educacao.sp.gov.br/dataset/fluxo-escolar-por-escola

Procure pelo arquivo CSV relativo a "Fluxo Escolar 2019 - por escola", arquivo `FLUXO_ESCOLAR_ESCOLA.csv`<br>
OBS: esse arquivo estará também no ZIP contendo os dados para esse módulo, caso haja problemas de acesso.

O fluxo escolar é medido pela taxa média de aprovação em cada etapa da escolarização, sendo elas as séries iniciais e séries finais do Ensino Fundamental e Ensino Médio, coletadas pelo Censo Escolar.

Para saber mais sobre o funcionamento do Fluxo Escolar, visite a página https://dados.educacao.sp.gov.br/story/fluxo

Carregue os dados. As colunas possuem significado de acordo com o "dicionário de dados" disponível ao visualizar o arquivo no referido site. As colunas são rotuladas da seguinte forma:
- Ano: para o qual foi realizado o cálculo do fluxo
- CD_DIRETORIA: Código da diretoria de ensino
- NM_DIRETORIA: Nome da diretoria de ensino
- NM_MUNICIPIO: Nome do Município
- CD_REDE_ENSINO: Código da Rede de Ensino (1:Estadual)
- CD_ESCOLA: Código da Escola
- NM_COMPLETO_ESCOLA: Nome Completo da Escola
- CD_TP_IDENTIFICADOR: Código do Tipo de Escola
- APR_1: Porcentagem de Alunos Aprovados no Ensino Fundamental - Anos Iniciais no ensino fundamental de 9 anos
- REP_1: Porcentagem de Alunos Reprovados no Ensino Fundamental - Anos Iniciais no ensino fundamental de 9 anos
- ABA_1: Porcentagem de Alunos com Abandono no Ensino Fundamental - Anos Iniciais no ensino fundamental de 9 anos
- REP_2: Porcentagem de Alunos Reprovados no Ensino Fundamental - Anos Finais no ensino fundamental de 9 anos
- ABA_2: Porcentagem de Alunos com Abando no Ensino Fundamental - Anos Finais no ensino fundamental de 9 anos
- APR_3: Porcentagem de Alunos Aprovados no Ensino Médio
- REP_3: Porcentagem de Alunos Reprovados no Ensino Médio
- ABA_3: Porcentagem de Alunos com Abandono no Ensino Médio

In [1]:
# carregando as bibliotecas necessárias
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
# carregando dados
dc = pd.read_csv("../dados/FLUXO_ESCOLAR_ESCOLA.csv", sep=',')
ncols = dc.shape[1]
ncols = dc.shape[1]
print("atributos: ", ncols)
print("linhas: ", dc.shape[0])

atributos:  16
linhas:  5220

In [3]:
dc.head()

,ANO,NM_DIRETORIA,NM_MUNICIPIO,CD_REDE_ENSINO,CD_ESCOLA,NM_COMPLETO_ESCOLA,CD_TP_IDENTIFICADOR,APR_1,REP_1,ABA_1,APR_2,REP_2,ABA_2,APR_3,REP_3,ABA_3
0,2019,BARRETOS,BARRETOS,1,22445,AYMORE DO BRASIL PROFESSOR,8,0.0,0.0,0.0,99.67,0.33,0.0,0.0,0.0,0.0
1,2019,BARRETOS,BARRETOS,1,22457,MACEDO SOARES EMBAIXADOR,8,0.0,0.0,0.0,0.00,0.00,0.0,100.0,0.0,0.0
2,2019,BARRETOS,BARRETOS,1,22469,ANTONIO OLYMPIO DOUTOR,8,0.0,0.0,0.0,100.00,0.00,0.0,100.0,0.0,0.0
3,2019,BARRETOS,BARRETOS,1,36894,VALOIS SCORTECCI,8,0.0,0.0,0.0,100.00,0.00,0.0,0.0,0.0,0.0
4,2019,BARRETOS,BARRETOS,1,579889,MARIA HELENA SCANNAVINO,8,0.0,0.0,0.0,0.00,0.00,0.0,100.0,0.0,0.0

In [4]:
dc.describe()

,ANO,CD_REDE_ENSINO,CD_ESCOLA,CD_TP_IDENTIFICADOR,APR_1,REP_1,ABA_1,APR_2,REP_2,ABA_2,APR_3,REP_3,ABA_3
count,5220.0,5220.0,5220.000000,5220.000000,5220.000000,5220.000000,5220.000000,5220.000000,5220.000000,5220.000000,5220.000000,5220.000000,5220.000000
mean,2019.0,1.0,283767.022989,8.661111,29.809082,0.382054,0.077063,70.221803,2.441387,0.631830,66.354716,4.514134,1.698199
std,0.0,0.0,387722.682000,4.064519,45.369878,3.281342,0.744221,42.627771,4.257804,1.387269,41.400237,6.281815,3.225678
min,2019.0,1.0,12.000000,7.000000,0.000000,0.000000,-0.010000,0.000000,0.000000,-0.010000,0.000000,0.000000,-0.010000
25%,2019.0,1.0,16430.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2019.0,1.0,36788.000000,8.000000,0.000000,0.000000,0.000000,95.360000,0.880000,0.000000,89.420000,2.205000,0.000000
75%,2019.0,1.0,900758.750000,8.000000,98.140000,0.000000,0.000000,98.540000,3.412500,0.710000,96.210000,6.962500,2.212500
max,2019.0,1.0,926103.000000,36.000000,100.000000,100.000000,46.150000,100.000000,76.560000,40.000000,100.000000,100.000000,75.000000

### Questão 1)
 
Considere os seguintes problemas e a natureza dos seus respectivos dados:

I - Uma sequência de dados de um sensor de temperatura, com valores em Celsius coletados e armazenados a cada 2 horas. Utilizando o histórico de 1 ano de observações anteriores até o dia atual, se intenciona predizer a temperatura nas próximas 24 horas.<br>
II - Uma base de dados contendo informações sobre livros (gênero, número de páginas, autor, ano de lançamento, país de origem, entre outros) e as avaliações desses livros (nota de 1 a 5) obtidos junto a leitores do fã clube de Harry Potter de Minas Gerais, com a qual se intenciona predizer qual seria a nota de um livro sendo considerado para publicação por uma editora, permitindo predizer o potencial desse novo livro para o público brasileiro.<br>
III - Numa base de dados de um e-commerce contendo informações sobre clientes e seus padrões de compras, foi feita uma segmentação manual de milhares de clientes em 5 categorias. Deseja-se treinar modelos para aprender a classificar novos clientes em uma dessas categorias.<br>

Podemos utilizar métodos que assumam dados do tipo i.i.d. (independente e identicamente distribuídos) e garantir que esses métodos irão obter conclusões válidas em quais dos casos?

(a) III<br>
(b) I e III<br>
(c) I<br>
(d) II<br>

### Questão 2)
 
Compute a média das variáveis ABA_1, ABA_2 e ABA_3 e adicione essa média como um novo atributo ABA_MED à base de dados. Substitua por nulo (`nan`) os valores onde 'ABA_MED' seja igual a 0. Realize a **discretização** da variável 'ABA_MED' utilizando:
1. o método dos quantis, utilizando 7 intervalos alvo
2. o método dos intervalos, utilizando 6 intervalos alvo: (0, 1] (1, 5] (5, 10] (10, 25] (25, 50] (50, max(ABA_MED)],
em que max(ABA_MED) é o maior valor desse atributo

Use o método qcut() para o item 1 e cut() para o item 2

Adicione essa novas variáveis na base, com os nomes 'ABA_Q' (quantis) e 'ABA_I' (intervalos)

Qual é a quantidade de dados (frequências dos valores discretizados) na base após a discretização, relativos ao primeiro intervalo (com os menores valores) e ao último intervalo (com os maiores valores) para, respectivamente, ABA_Q e ABA_I?

(a) ABA_Q: primeiro -0.004, último 423. ABA_I: primeiro 1, último 431<br>
(b) ABA_Q: primeiro 423, último 431. ABA_I: primeiro 1612, último 4<br>
(c) ABA_Q: primeiro 431, último 3099. ABA_I: primeiro 1612, último 0<br>
(d) ABA_Q: primeiro 431, último 423. ABA_I: primeiro 1612, último 1<br>

In [6]:
dc['ABA_MED'] = (dc['ABA_1'] + dc['ABA_2'] + dc['ABA_3'])/3
dc.loc[dc['ABA_MED'] == 0,'ABA_MED'] = np.nan

In [7]:
dc.head()

,ANO,NM_DIRETORIA,NM_MUNICIPIO,CD_REDE_ENSINO,CD_ESCOLA,NM_COMPLETO_ESCOLA,CD_TP_IDENTIFICADOR,APR_1,REP_1,ABA_1,APR_2,REP_2,ABA_2,APR_3,REP_3,ABA_3,ABA_MED
0,2019,BARRETOS,BARRETOS,1,22445,AYMORE DO BRASIL PROFESSOR,8,0.0,0.0,0.0,99.67,0.33,0.0,0.0,0.0,0.0,NaN
1,2019,BARRETOS,BARRETOS,1,22457,MACEDO SOARES EMBAIXADOR,8,0.0,0.0,0.0,0.00,0.00,0.0,100.0,0.0,0.0,NaN
2,2019,BARRETOS,BARRETOS,1,22469,ANTONIO OLYMPIO DOUTOR,8,0.0,0.0,0.0,100.00,0.00,0.0,100.0,0.0,0.0,NaN
3,2019,BARRETOS,BARRETOS,1,36894,VALOIS SCORTECCI,8,0.0,0.0,0.0,100.00,0.00,0.0,0.0,0.0,0.0,NaN
4,2019,BARRETOS,BARRETOS,1,579889,MARIA HELENA SCANNAVINO,8,0.0,0.0,0.0,0.00,0.00,0.0,100.0,0.0,0.0,NaN

In [9]:
dc['ABA_Q'] = pd.qcut(dc['ABA_MED'], 7)

In [11]:
print(dc['ABA_Q'].value_counts())

(0.617, 1.09]                      431
(-0.0043300000000000005, 0.143]    431
(1.766, 2.91]                      425
(0.314, 0.617]                     424
(2.91, 53.717]                     423
(0.143, 0.314]                     417
(1.09, 1.766]                      415
Name: ABA_Q, dtype: int64

In [14]:
interv = [0, 1, 5, 10, 25, 50, np.max(dc['ABA_MED'])]
dc['ABA_I'] = pd.cut(dc['ABA_MED'], right=True, bins=interv)

In [15]:
print(dc['ABA_I'].value_counts())

(0.0, 1.0]        1612
(1.0, 5.0]        1226
(5.0, 10.0]        113
(10.0, 25.0]         3
(50.0, 53.717]       1
(25.0, 50.0]         0
Name: ABA_I, dtype: int64

### Questão 3)


Normalize 2 variáveis da base: ABA_MED e APR_3
* APR_3 utilizando normalização min-max com mínimo 0 e máximo 1
* ABA_MED utilizando normalização robusta

Para isso, codifique funções que recebam uma coluna por parâmetro e retornem um atributo já normalizado

Depois, aplique as funções e crie novas variáveis com os atributos normalizados: APR_3_01 e ABA_MED_nr.

Após a normalização, quais os valores de média, desvio padrão, mínimo e máximo dessas novas variáveis, arredondando para 1 casa decimal?

(a) APR_3_01: 0.0, 1.0, 0.0, 1.0; ABA_MED_nr: 0.3, 1.1, -0.5, 30.8<br>
(b) APR_3_01: 0.7, 0.4, 0.0, 1.0; ABA_MED_nr: 0.3, 0.7, -1.0, 53.8<br>
(c) APR_3_01: 0.0, 1.0, 0.0, 1.0; ABA_MED_nr: 0.3, 0.7, -1.0, 53.8<br>
(d) APR_3_01: 0.7, 0.4, 0.0, 1.0; ABA_MED_nr: 0.3, 1.1, -0.5, 30.8<br>

In [33]:
def norm_0_1(att):
    # computa minimo e maximo
    var_min = att.min()
    var_max = att.max()

    # computa normalizacao
    att_norm = (att - var_min) / (var_max-var_min)
    return att_norm

def norm_robust(att):
    # computa minimo e maximo
    q25 = att.quantile(0.25)
    q75 = att.quantile(0.75)
    median = att.median()

    # computa normalizacao
    return (att - median) / (q75-q25)

dc['APR_3_01'] = norm_0_1(dc['APR_3'])
dc['ABA_MED_nr'] = norm_robust(dc['ABA_MED'])
np.round(dc[['APR_3_01','ABA_MED_nr']].describe(), 1)

       APR_3_01  ABA_MED_nr
count    5220.0      2966.0
mean        0.7         0.3
std         0.4         1.1
min         0.0        -0.5
25%         0.0        -0.3
50%         0.9         0.0
75%         1.0         0.7
max         1.0        30.8

### Questão 4)
 
 Transforme os atributos 'ABA_2' e 'ABA_MED' por meio da função da raiz quadrada. Para isso:
1. Faça uma cópia da base de dados, e nessa cópia remova todas as linhas cujos atributos possuem valor 0 ou Nulos (`NaN`) em 'ABA_2' ou 'ABA_MED'
2. Considerando os atributos 'ABA_2' e 'ABA_MED' transforme-os esses utilizando a operação da raiz quadrada no seguinte formato. Seja $x$ o atributo original, obtemos a sua versão transformada:
$$x' = \sqrt{x+1}$$
e os adicione à base de dados com novos nomes, ex. 'sqrtABA_2' e  'sqrtABA_MED',
3. Calcule a correlação entre os atributos após a transformação do passo 2 (utilize o método `.corr()`)

Qual o valor obtido da correlação entre essas novas variáveis ('sqrtABA_2' e 'sqrtABA_MED') ao arredondar para 2 casas decimais?

(a) 0.85<br>
(b) 0.81<br>
(c) 0.77<br>
(d) 1.0<br>

In [37]:
new_dc = dc.copy()
print('The original size is', new_dc.shape[0])
index_to_drop = dc.loc[(dc['ABA_MED'] == np.nan) | (dc['ABA_MED'] == 0) | (dc['ABA_2'] == np.nan) | (dc['ABA_2'] == 0)].index
new_dc.drop(index=index_to_drop, inplace=True)
print('The new size is', new_dc.shape[0])

The original size is 5220
The new size is 2034

In [38]:
new_dc['sqrtABA_2'] = np.sqrt((new_dc['ABA_2'] + 1))
new_dc['sqrtABA_MED'] = np.sqrt((new_dc['ABA_MED'] + 1))
atts_t = ['sqrtABA_2', 'ABA_2', 'ABA_MED', 'sqrtABA_MED']
np.round(new_dc[atts_t].corr("pearson"),2)

             sqrtABA_2  ABA_2  ABA_MED  sqrtABA_MED
sqrtABA_2         1.00   0.96     0.77         0.81
ABA_2             0.96   1.00     0.84         0.78
ABA_MED           0.77   0.84     1.00         0.94
sqrtABA_MED       0.81   0.78     0.94         1.00

### Questão 5)
 
Utilize a base de dados antes da modificação feita na Questão 4. Codifique a variável categórica 'ABA_Q' para o tipo categórica ordinal e 'NM_MUNICIPIO:' para categórica nominal:
* Para ABA_Q use números inteiros sequenciais, iniciados por 0, para codificar a variável na ordem dos valores dos intervalos e gere um novo atributo ABA_Q_cod. 
* Para NM_MUNICIPIO use números inteiros sequenciais, iniciados por 0 para codificar a variável em ordem alfabética, e gere um novo atributo NM_MUN_cod. 

Observação: aqui a intenção é que o atributo codificação tenha relação com a ordem alfabética do município. Se a intenção fosse a de posteriormente aplicar métodos que realizam comparação por distância independente da ordem alfabética, a codificação ideal seria one-hot-encoding/dummy variables.

Use a função `value_counts()` para mostrar a frequência dos códigos de ABA_Q_cod e NM_MUN_cod. Responda abaixo quais **valores discretos** (após codificação realizada) possuem a maior frequência (maior contagem):

(a) NM_MUN_cod: código 1124;  ABA_Q_cod: códigos 0 e 2<br>
(b) NM_MUN_cod: código 563;  ABA_Q_cod: código 0 e 1<br>
(c) NM_MUN_cod: código 1124;  ABA_Q_cod: códigos 0 e 1<br>
(d) NM_MUN_cod: código 563;  ABA_Q_cod: códigos 0 e 3<br>

In [42]:
unique_aba_q = dc['ABA_Q'].unique()
num_aba_q = [-1, 0, 1, 2, 3, 5, 6, 4]
map_aba_q = dict(zip(unique_aba_q, num_aba_q))
dc['ABA_Q_code'] = dc['ABA_Q'].map(map_aba_q)

print(dc['ABA_Q_code'].value_counts())

3    431
0    431
5    425
2    424
6    423
1    417
4    415
Name: ABA_Q_code, dtype: int64

In [45]:
unique_nm_mun = sorted(dc['NM_MUNICIPIO'].unique())
num_mun = np.arange(len(unique_nm_mun))
map_nm_mun = dict(zip(unique_nm_mun, num_mun))
dc['NM_MUN_cod'] = dc['NM_MUNICIPIO'].map(map_nm_mun)

print(dc['NM_MUN_cod'].value_counts())

563    1116
214     170
108     165
535      89
582      82
       ...
357       1
361       1
55        1
369       1
643       1
Name: NM_MUN_cod, Length: 644, dtype: int64